<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061656124521-5g7bu0or0c3935h7hoo8pu2bva9gr7lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061656124521-5g7bu0or0c3935h7hoo8pu2bva9gr7lb</string>
	<key>API_KEY</key>
	<string>***REMOVED***</string>
	<key>GCM_SENDER_ID</key>
	<string>1061656124521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.megaleios.moralarAppusuario</string>
	<key>PROJECT_ID</key>
	<string>app-moralar</string>
	<key>STORAGE_BUCKET</key>
	<string>app-moralar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061656124521:ios:a52f680780ae5fd7d516f8</string>
</dict>
</plist>